.title-page {
    width: 100%;
    padding: 60px;
    padding-bottom: 154px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-title-page {
    max-width: 550px;
    width: 100%;
}

.left-title-page h1 {
    max-width: 400px;
    width: 100%;
    font-size: 35px;
}

.left-title-page hr {
    width: 100%;
    background-color: #9908e3;
    border: none;
    height: 2px;
    box-shadow: 0px 2px 4px 0px #00f0ff;
}

.left-title-page p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.449);
}

.right-title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.right-title-page h1 {
    margin: 0;
    padding: 0;
    font-family: 'copperplate', fantasy;
    font-size: 60px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px black;
}

.right-title-page span {
    color: #9908e3;
}

@media only screen and (max-width: 950px) {
    .title-page {
        padding-bottom: 120px;
    }

    .right-title-page {
        width: 60%;
    }
}

@media only screen and (max-width: 850px) {

    .right-title-page {
        width: 40%;
    }

    .right-title-page img {
        max-width: 300px;
        width: 100%;
    }

    .right-title-page h1 {
        font-size: 50px;
    }

    .left-title-page {
        width: 50%;
    }

    .left-title-page h1 {
        font-size: 30px;
    }

    .right-title-page p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 601px) {
    .title-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .left-title-page {
        text-align: center;
    }

    .right-title-page {
        width: 30%;
    }
}