#root {
  margin: 0px;
  padding: 0px;
  margin-top: 55px;
  font-family: 'Verdana';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #F7F9F2;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}